<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morefriends.morefriends" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".FangChat"
        android:allowBackup="true"
        android:icon="@drawable/fang"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".ChatSender"
            android:label="ChatSender" >
        </activity>
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="ForgetPassword" >
        </activity>
        <activity
            android:name=".FriendList"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity android:name=".MainPage" >
        </activity>
        <activity
            android:name=".PersonalInfo"
            android:label="@string/title_activity_personal_info" >
        </activity>
        <activity
            android:name=".EditPersonalInfo"
            android:label="@string/title_activity_edit_personal_info" >
        </activity>
        <activity
            android:name=".FullScreenImage"
            android:label="@string/title_activity_full_screen_image" >
        </activity>
        <activity
            android:name=".FullScreenImageActivity"
            android:label="@string/title_activity_full_screen_image" >
        </activity>
        <activity
            android:name=".CropImageActivity"
            android:label="@string/title_activity_crop_image" >
        </activity>
        <activity
            android:name=".ChatRoom"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
